{% extends "base.html" %}
{% set active_page = "students" %}
{% block title %}WealthWise - Students' Guide{% endblock %}
{% block content %}

<section class="bg-white dark:bg-gray-900 justify-center">
    <div class="py-10 px-4 mx-auto sm:py-16 lg:px-6">
        <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900 text-center dark:text-white">How can you
            save money as a student?</h2>
        <div class="grid p-5 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-rows-3">
            <div class="px-10 mb-10 row-start-1 col-start-1">
                <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                    Use Sustainable Transportation
                </h3>
                <p class="text-gray-500 dark:text-gray-400">Today, gas prices are exceptionally high. As a college
                    student, whenever possible, you should use public transportation to save money.
                    For example, Texas A&M University provides <a
                            class="text-blue-500 no-underline hover:underline"
                            href="https://transport.tamu.edu/Transit/service.aspx">free bus service</a> both on and off
                    campus as long as you
                    are a valid student.
                    Another option is to consider investing in a bicycle. In the long run, it will be more
                    cost-efficient than the gasoline required to fill up your tank. On top of the financial benefit,
                    sustainable transportation is better for the environment!</p>
            </div>
            <div class="px-10 mb-10 row-start-2 col-start-1">
                <h3 class="mb-4 text-lg font-medium text-gray-900 dark:text-white">
                    Limit Food Delivery Services
                </h3>
                <p class="text-gray-500 dark:text-gray-400">Although food-delivery services are very convenient,
                    limiting the number of times you order delivery can easily help you save money.
                    Every time you order food delivery, you are paying for increased menu prices, convenience fees,
                    gasoline fees, and a delivery tip - in fact, according to a survey by Circuit on average, Americans
                    end up paying <a
                            class="text-blue-500 no-underline hover:underline"
                            href="https://getcircuit.com/teams/blog/hidden-cost-of-delivery">$12.80 extra per delivered
                        meal</a>.
                    Now, if you were to have those expenses occur multiple times a week, you would see that it adds up!
                    By limiting food-delivery, you can save a lot of money.</p>
            </div>
            <div class="px-10 mb-10 row-start-3 col-start-1">
                <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                    Use Student Discounts
                </h3>
                <p class="text-gray-500 dark:text-gray-400">A lot of services and restaurants have student discounts
                    available, as long as you show valid proof of ID.
                    For example, Spotify Premium + Hulu bundle costs <a
                            class="text-blue-500 no-underline hover:underline"
                            href="https://www.spotify.com/us/student/">$4.99/month</a>. If you were to buy Spotify
                    Premium and Hulu separately, you would end up spending $17.98/month! Just from that alone, you save
                    $156 every year. Restaurants, Movie theaters, and other services also have similar student pricing,
                    which will help
                    you save.</p>
            </div>
            <div class="px-10 mb-10 row-start-4 col-start-1">
                <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                    Create an Expenses Sheet
                </h3>
                <p class="text-gray-500 dark:text-gray-400">Make a plan on how you will spend your money each month.
                    Having an expenses sheet can help you identify areas where money is being spent unnecessarily and
                    make
                    it easier to set and stick to your financial goals. If you keep track of your expenses for a few
                    months,
                    you'll be able to see where most of your money is being spent. Although keeping organized can be
                    tough, try out our
                    <a href="/expenses/">
                        <button class="bg-blue-700 text-white rounded-md p-1 hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none active:bg-blue-800 active:shadow-lg">
                            Expenses Tracker
                        </button>
                    </a> for help!
                </p>
            </div>
            <div class="px-10 row-start-1 col-start-2">
                <object data="/static/assets/bus.svg" width="125" height="125"></object>
            </div>

            <div class="px-10 row-start-2 col-start-2">
                <object data="/static/assets/food.svg" width="125" height="125"></object>
            </div>

            <div class="px-10 row-start-3 col-start-2">
                <object data="/static/assets/spotify.svg" width="125" height="125"></object>
            </div>

            <div class="px-10 row-start-4 col-start-2">
                <object data="/static/assets/budget.svg" width="125" height="125"></object>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}