{% extends "base.html" %}
{% set active_page = "about" %}
{% block title %}WealthWise - About Us{% endblock %}
{% block content %}
<section class="bg-white dark:bg-gray-900 justify-center mx-80">
    <h2 class="my-8 text-4xl tracking-tight font-extrabold text-gray-900 text-center dark:text-white">About us</h2>
    <div class="border-b-2"></div>
    <p class="my-8 text-2xl tracking-tight font-medium text-gray-900 text-left">WealthWise is designed to be an
        all-in-one solution to financial education for people of all ages. Through useful tools for users as well as an
        extensive wiki page on financial topics, we seek to solve the financial literacy gap between the lower and upper
        class and improve the standard of living for any american who feels unconfident in their finances.
        <br><br><br>
        WealthWise was designed during TAMUhack 2023 by <a class="text-blue-600 border-b-2 border-blue-700"
                                                           href="https://kjain.org/">Kunal Jain</a> and <a
                class="text-blue-600 border-b-2 border-blue-700"
                href="https://github.com/rahul-rajendran3">Rahul Rajendran</a>.
    </p>
</section>
{% endblock %}