{% extends "base.html" %}
{% set active_page = "fico" %}
{% block title %}WealthWise - Fico Score{% endblock %}
{% block content %}

<section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">What is a FICO Score?</h2>
            <p class="mb-4"> </p>
            <br>
            <h2 class="mb-4 text-3xl tracking-tight font-bold text-gray-900 dark:text-white">Why does it matter?</h2>
            <p class="mb-4">If you are applying for a new credit card or trying to take out a loan, lenders can quickly assess your credit history. </p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="office content 2">
        </div>
    </div>
</section>

{% endblock %}