{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}WealthWise - Home{% endblock %}
{% block content %}
<section class="relative">
    <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            class="w-full "
            style="margin-top: 0; z-index: -10;"
            height="680"
            preserveAspectRatio="none"
            viewBox="0 0 1920 880"
    >
        <g transform="translate(960,440) scale(1,1) translate(-960,-440)">
            <linearGradient
                    id="lg-0.047955344060927496"
                    x1="0"
                    x2="1"
                    y1="0"
                    y2="0"
            >
                <stop stop-color="hsl(225, 81%, 58%)" offset="0"></stop>
                <stop stop-color="hsl(225, 81%, 88%)" offset="1"></stop>
            </linearGradient>
            <path d="" fill="url(#lg-0.047955344060927496)" opacity="0.4">
                <animate
                        attributeName="d"
                        dur="33.333333333333336s"
                        repeatCount="indefinite"
                        keyTimes="0;0.333;0.667;1"
                        calcmod="spline"
                        keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1"
                        begin="0s"
                        values="M0 0L 0 804.2328934685746Q 320 597.3613372284876  640 571.0708916590191T 1280 512.0661063245175T 1920 301.8788007488083L 1920 0 Z;M0 0L 0 877.6839081951588Q 320 668.0720922803877  640 649.0018928349388T 1280 328.7087077664202T 1920 162.95038242563396L 1920 0 Z;M0 0L 0 724.9886210051687Q 320 661.4364572061575  640 623.2173947479624T 1280 359.20353038907734T 1920 135.51673041732283L 1920 0 Z;M0 0L 0 804.2328934685746Q 320 597.3613372284876  640 571.0708916590191T 1280 512.0661063245175T 1920 301.8788007488083L 1920 0 Z"
                ></animate>
            </path>
            <path d="" fill="url(#lg-0.047955344060927496)" opacity="0.4">
                <animate
                        attributeName="d"
                        dur="33.333333333333336s"
                        repeatCount="indefinite"
                        keyTimes="0;0.333;0.667;1"
                        calcmod="spline"
                        keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1"
                        begin="-6.666666666666667s"
                        values="M0 0L 0 765.7607191473613Q 320 641.7853945676919  640 624.2534689988059T 1280 365.27264408032966T 1920 190.38947978522663L 1920 0 Z;M0 0L 0 842.1984196370487Q 320 570.6690721707517  640 540.6844954979398T 1280 439.92879442880593T 1920 200.29713960445451L 1920 0 Z;M0 0L 0 796.6802345094818Q 320 721.9216894353016  640 696.8815669355181T 1280 373.6367381440213T 1920 196.63169821789495L 1920 0 Z;M0 0L 0 765.7607191473613Q 320 641.7853945676919  640 624.2534689988059T 1280 365.27264408032966T 1920 190.38947978522663L 1920 0 Z"
                ></animate>
            </path>
            <path d="" fill="url(#lg-0.047955344060927496)" opacity="0.4">
                <animate
                        attributeName="d"
                        dur="33.333333333333336s"
                        repeatCount="indefinite"
                        keyTimes="0;0.333;0.667;1"
                        calcmod="spline"
                        keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1"
                        begin="-13.333333333333334s"
                        values="M0 0L 0 801.7562714943509Q 320 634.0247183381232  640 605.7090791951217T 1280 503.9393370140325T 1920 224.7551247480177L 1920 0 Z;M0 0L 0 821.0401780336218Q 320 670.8690783540507  640 637.0744123031742T 1280 456.40745286432224T 1920 278.1294357804296L 1920 0 Z;M0 0L 0 744.0534225112256Q 320 637.6425395409125  640 593.2079605185819T 1280 457.03995196824286T 1920 254.87693899994804L 1920 0 Z;M0 0L 0 801.7562714943509Q 320 634.0247183381232  640 605.7090791951217T 1280 503.9393370140325T 1920 224.7551247480177L 1920 0 Z"
                ></animate>
            </path>
            <path d="" fill="url(#lg-0.047955344060927496)" opacity="0.4">
                <animate
                        attributeName="d"
                        dur="33.333333333333336s"
                        repeatCount="indefinite"
                        keyTimes="0;0.333;0.667;1"
                        calcmod="spline"
                        keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1"
                        begin="-20s"
                        values="M0 0L 0 817.8603658675457Q 320 592.9404308081629  640 559.1126621853513T 1280 428.9912604821798T 1920 209.017381620229L 1920 0 Z;M0 0L 0 802.0504889976935Q 320 561.3963273210122  640 537.6024084387631T 1280 430.41283267566695T 1920 256.1972069733954L 1920 0 Z;M0 0L 0 789.4448177495887Q 320 561.9675446430498  640 531.6192318019404T 1280 414.76018143244175T 1920 265.9163329632971L 1920 0 Z;M0 0L 0 817.8603658675457Q 320 592.9404308081629  640 559.1126621853513T 1280 428.9912604821798T 1920 209.017381620229L 1920 0 Z"
                ></animate>
            </path>
            <path d="" fill="url(#lg-0.047955344060927496)" opacity="0.4">
                <animate
                        attributeName="d"
                        dur="33.333333333333336s"
                        repeatCount="indefinite"
                        keyTimes="0;0.333;0.667;1"
                        calcmod="spline"
                        keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1"
                        begin="-26.666666666666668s"
                        values="M0 0L 0 844.0541574423102Q 320 623.0697081316591  640 592.8483890737847T 1280 469.85448734523794T 1920 190.81850676853674L 1920 0 Z;M0 0L 0 871.4928294956283Q 320 618.9784567388518  640 593.1183717103518T 1280 376.5051942642811T 1920 141.32293927545027L 1920 0 Z;M0 0L 0 782.0118384610068Q 320 727.3267836497654  640 694.0476176759635T 1280 518.1545471640493T 1920 276.0053882957168L 1920 0 Z;M0 0L 0 844.0541574423102Q 320 623.0697081316591  640 592.8483890737847T 1280 469.85448734523794T 1920 190.81850676853674L 1920 0 Z"
                ></animate>
            </path>
        </g>
    </svg>

    <div class="container mx-auto px-6 md:px-12 xl:px-32">
        <div class="text-center text-gray-800">
            <div class="absolute rounded-lg shadow-lg inset-0 flex justify-center items-center px-6 py-12 md:py-16 md:px-12 z-10"
                 style="margin:180px; background-color: hsla(0, 0%, 100%, 0.5);backdrop-filter: saturate(200%) blur(25px);">
                <h1 class="text-5xl md:text-6xl xl:text-7xl font-medium tracking-tight mb-12">Did you know that...
                    <br/>
                    <!--                    <span class="text-blue-600 font-bold" id="percent">-->
                    <!--                    </span><span class="text-blue-600 font-bold"id="fact"></span></h1>-->
                    <div class="text-blue-600 font-bold" id="rotate">
                        <div>43% of US adults are financially illiterate.</div>
                        <div>75% of American teens lack confidence in personal finance.</div>
                        <div>25% of Americans say they don't know where to get financial guidance.</div>
                        <div>60% of U.S. adults are in credit card debt.</div>
                        <div>78% of adults live paycheck to paycheck.</div>
                    </div>
                </h1>
            </div>
        </div>
    </div>
</section>
<div class="relative mx-auto" style="height: 150px">
    <div class="relative mx-auto" id="down-arrow">
        <svg fill="#000000" class="animate-bounce h-10 w-10 block mx-auto" version="1.1" id="Layer_1"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 0 330 330" xml:space="preserve">
        <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393
	    c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393
	    s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"/>
    </svg>
    </div>
</div>
<div class="container mx-auto px-6 md:px-12 xl:px-32 show-on-scroll">
    <div class="text-center text-gray-800">
        <div class="inline-block rounded-lg shadow-lg inset-0 flex justify-center items-center px-6 py-12 md:py-16 md:px-12 z-10"
             style="margin-left:180px; margin-right:180px; margin-bottom:40px; background-color: hsla(0, 0%, 100%, 0.5);backdrop-filter: saturate(200%) blur(25px);">
            <div class="text-5xl md:text-6xl xl:text-7xl tracking-tight mb-12 text-blue-600 font-bold">
                Lets change that, <span class="underline">together</span>.
                <br>
                <a href="/wiki/">
                    <button class="bg-blue-700 text-white rounded-md mt-10 p-2 shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none active:bg-blue-800 active:shadow-lg">
                        Get Started
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    // function randomText() {
    //     const facts = ["43% of US adults are financially illiterate",
    //         "75% of American teens lack confidence in personal finance",
    //         "25% of Americans say they don't know where to get financial guidance",
    //         "60% of U.S. adults are in credit card debt"
    //     ];
    //     let i = Math.floor(Math.random() * facts.length);
    //     document.getElementById("percent").innerHTML = facts[i].substring(0, facts[i].indexOf("%") + 1);
    //     document.getElementById("fact").innerHTML = facts[i].substring(facts[i].indexOf("%") + 1) + ".";
    //     setTimeout(randomText, 2000);
    // }
    // randomText();
    //Rotate through divs with animation
    (function ($) {
        $.fn.extend({
            rotator: function (options) {
                var defaults = {
                    fadeSpeed: 500,
                    pauseSpeed: 500,
                    child: null
                };
                var options = $.extend(defaults, options);
                return this.each(function () {
                    let o = options;
                    let obj = $(this);
                    let items = $(obj.children(), obj);
                    items.each(function () {
                        $(this).hide();
                    })
                    if (!o.child) {
                        var next = $(obj).children(':first');
                    } else {
                        var next = o.child;
                    }
                    $(next).fadeIn(o.fadeSpeed, function () {
                        $(next).delay(o.pauseSpeed).fadeOut(o.fadeSpeed, function () {
                            var next = $(this).next();
                            if (next.length == 0) {
                                next = $(obj).children(':first');
                            }
                            $(obj).rotator({child: next, fadeSpeed: o.fadeSpeed, pauseSpeed: o.pauseSpeed});
                        })
                    });
                });
            }
        });
    })(jQuery);
    $(document).ready(function () {
        $('#rotate').rotator({fadeSpeed: 750, pauseSpeed: 2000});
    });
    //Make arrow disappear as soon as user scrolls
    $(window).bind('scroll', function () {
        if ($(window).scrollTop() > 50) {
            $('#down-arrow').fadeOut();
        } else {
            $('#down-arrow').show();
        }
    });
</script>
{% endblock %}